<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>Home Page</title>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
        <h1>Home Page</h1>
        <div class="container">
            <% blogs.forEach(blog=> { %>
                <div class="card" style="width: 18rem;">
                    <img src="<%= blog.coverImage %>" class="card-img-top" alt="image">
                    <div class="card-body">
                        <h4 class="card-text">
                            <%= blog.title %>
                        </h4>
                        <p class="card-text">
                            <%= blog.body %>
                        </p>
                        <a href="/blog/<%= blog._id %>" class="btn btn-primary">Visit Blog</a>
                    </div>
                </div>
                <% }) %>
        </div>

        <%- include("./partials/script.ejs") %>
</body>

</html>